name: recipe
description: "A reverse recipe suggestion app using Spoonacular API."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.1.0
  cached_network_image: ^3.3.0
  provider: ^6.1.1
  url_launcher: ^6.2.1
  flutter_typeahead: ^5.2.0  # UPDATED from 4.8.0 to 5.2.0
  flutter_keyboard_visibility: ^6.0.0  # UPDATED from 5.4.1 to 6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true